parameters:
	ignoreErrors:
		- message: '#Else branch is unreachable because previous condition is always true.#'
		  count: 1
		  path: src/Bootstrap.php
	autoload_files:
		- src/Helper.php
		- config/config.php
		#- src/Bootstrap.php