parameters:
	ignoreErrors:
		- message: '#Else branch is unreachable because previous condition is always true.#'
		  count: 1
		  path: src/Bootstrap.php
		- message: '#Undefined variable: \$config#'
		  count: 4
		  path: src/Dependencies.php
	autoload_files:
		- config/config.php
		- src/Helper.php