<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% if title is not empty %}{{ title }} &middot; {% endif %}Bits’n’Bytes</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 80'><text y='.9em' font-size='80'>💾</text></svg>">
</head>
<body>
<header>
    <h1><a href="/">Bits’n’Bytes</a></h1>
    <form>
        <div class="wrapper-input">
            <input type="search" name="search">
        </div>
    </form>
    {% if url_newentry is not empty %}<a href="{{ url_newentry }}" class="button">New Entry</a>{% endif %}
</header>
<main>
{% block content %}{% endblock %}
</main>

</body>
</html>