* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Myriad Pro", "Arial Nova", sans-serif;
}

html {
  line-height: 1.15;
  height: 100%;
  overflow-y: scroll;
}

html {
  font-size: 18px
}


/**
 * COLORS
 */
:root {
  --main-100: #B2D9FF;
  --main-200: #85A8CC;
  --main-300: #5C7A99;
  --main-400: #2C3E50;
  --main-500: #192D40;
  --main-600: #0D2033;
  --main-700: #041526;

  --neutral-100: #F8FAFA;
  --neutral-200: #EBEFF0;
  --neutral-300: #E0E4E5;
  --neutral-400: #D7DADB;
  --neutral-500: #9DA7AB;
  --neutral-600: #6C787D;
  --neutral-700: #3D484C;

  --accentblue-100: #CFEEFA;
  --accentblue-200: #ADDDF0;
  --accentblue-300: #8CCCE5;
  --accentblue-400: #6DBCDB;
  --accentblue-500: #4C94B0;
  --accentblue-600: #306D85;
  --accentblue-700: #1A4759;

  --accentred-100: #FCDCDD;
  --accentred-200: #FCA9AC;
  --accentred-300: #FC767B;
  --accentred-400: #FC4349;
  --accentred-500: #C2272C;
  --accentred-600: #871215;
  --accentred-700: #4C0507;
}

:root {
  --border-radius-input: .25rem;
  --border-radius-boxes: 10px;
}

/**
 * LAYOUT
 */
body {
  display: flex;
  min-height: 100%;
  width: 100%;
}

body > header {
  flex: 0 1 38.2%;
  min-height: 100%;
}

body > header > * {
  width: 61.8%;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

main {
  flex: 0 1 61.8%;
  max-width: 61.8%;
  height: 100%;
}

@media (max-width: 600px) {
  body {
    flex-direction: column;
  }

  body > header {
    height: auto;
    min-height: 0;
    width: 100%;
    max-width: 100%;
    flex: 0;
  }

  body > header > * {
    width: 100%;
  }

  main {
    height: auto;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1000px) {
  body > header > * {
    width: 90%;
  }
}

/**
 * FORMS
 */
input, button, textarea, .button {
  border-radius: var(--border-radius-input);
  line-height: 1.25;
  padding: .5rem .75rem;
  text-decoration: none;
  transition: background-color 50ms, border-color 50ms, box-shadow 50ms;
}

input[type=text], input[type=url], input[type=search], input[type=date], input[type=time], textarea {
  border: 1px solid var(--neutral-200);
  background: var(--neutral-200);
  width: 100%;
}

.error input[type=text], .error input[type=url], .error input[type=search], .error input[type=date], .error input[type=time], .error textarea,
.error input[type=text]:focus, .error input[type=url]:focus, .error input[type=search]:focus, .error input[type=date]:focus, .error input[type=time]:focus, .error textarea:focus {
  border-color: var(--accentred-500);
  box-shadow: 0 0 0 1px var(--accentred-500);
}

input[type=text]:focus, input[type=url]:focus, input[type=search]:focus, input[type=date]:focus, input[type=time]:focus, textarea:focus {
  outline: 0 !important;
  border-color: var(--neutral-500);
  background-color: #FFFFFF;
}

textarea {
  min-height: 10rem;
}

input[type=submit], button, .button {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important;
  padding: .5rem 1rem;
  background: var(--accentblue-600);
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-align: center;
}

input[type=submit], button[type=submit] {
  padding: .5rem 1.5rem;
  float: right;
}

input[type=submit]:hover, button:hover, .button:hover {
  background-color: var(--accentblue-500);
}

input[type=submit]:focus, button:focus, .button:focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, .5);
}

label {
  color: var(--main-300);
  padding-bottom: .3rem;
  font-size: 95%;
  font-weight: bold;
  display: block;
}

.error-message {
  padding-bottom: .1rem;
  display: inline-block;
  font-size: 95%;
}

.error label, .error-message {
  color: var(--accentred-500);
}

.wrapper-input {
  margin-bottom: 1.5rem;
}

.wrapper-collapsible {
  background-color: var(--neutral-100);
  border-bottom: 1px solid var(--neutral-400);
  border-top: 1px solid var(--neutral-400);
}

@media (max-width: 600px) {
  .wrapper-input {
    margin-bottom: .5rem;
  }

  .wrapper-collapsible {
    margin-left: calc(var(--padding-main) * -1);
    margin-right: calc(var(--padding-main) * -1);
    padding: 0 var(--padding-main);
  }
}

.wrapper-collapsible .collapsible-opener:before {
  content: '\E970'; /* ChevronRightSmall */
  display: inline-block;
  font-family: 'Segoe MDL2 Assets';
  font-size: 12px;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  text-align: center;
  transform: rotate(0deg) translateY(-2px);
  transition: transform 150ms;
  vertical-align: middle;
  width: 20px;
}

.wrapper-collapsible.opened .collapsible-opener:before {
  transform: rotate(90deg) translateX(-2px);
}

.collapsible-opener {
  display: none;
  color: var(--main-300);
  font-weight: bold;
  cursor: pointer;
  padding: .3rem 0 .4rem;
}

.wrapper-collapsible .collapsible-content {
  display: none;
  margin: .3rem .5rem 1rem;
}

.wrapper-collapsible.opened .collapsible-content {
  display: block;
}

.wrapper-datetime {
  display: flex;
}

.wrapper-datetime .wrapper-input-inner {
  flex: 1;
  margin-right: 1.5rem;
}

.wrapper-datetime .wrapper-input-inner:last-child {
  margin-right: 0;
}

.wrapper-autocomplete {
  position: relative;
}

input[type=text].autocomplete-open, input[type=text].autocomplete-open:focus {
  border-bottom-color: var(--neutral-200);
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  outline: 0 !important;
  border-color: var(--neutral-500);
  background-color: #FFFFFF;
}

ul.autocomplete {
  position: absolute;
  z-index: 99;
  display: none;
  width: 100%;
  background-color: white;
  border-bottom-left-radius: var(--border-radius-input);
  border-bottom-right-radius: var(--border-radius-input);
  border-top: 0;
}

input.autocomplete-open + ul.autocomplete {
  display: block;
}

ul.autocomplete li {
  width: 100%;
  display: block;
  padding: .5rem;
  cursor: pointer;
  transition: background-color 30ms;
  border-left: 1px solid var(--neutral-500);
  border-right: 1px solid var(--neutral-500);
}

ul.autocomplete li:hover {
  background-color: var(--neutral-100);
}

ul.autocomplete li.selected {
  background-color: var(--neutral-200);
}

ul.autocomplete li:last-child {
  border-bottom-left-radius: var(--border-radius-input);
  border-bottom-right-radius: var(--border-radius-input);
  border-bottom: 1px solid var(--neutral-500);
}

/* Search Form */
form.search input[type=search] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: calc(100% - 40px);
}
form.search button[type=submit] {
  background-color: var(--main-300);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border: 1px solid var(--main-300);
  font-family: 'Segoe MDL2 Assets';
  padding-left: 0;
  padding-right: 0;
  width: 40px;
}
form.search button[type=submit]:hover {
  background-color: var(--main-200);
  border: 1px solid var(--main-200);
}

/* Tags */
.wrapper-input ul {
  list-style: none;
}

.wrapper-input ul input {
  border-radius: 0;
  border-bottom-color: white;
  border-top-color: white;
}

.wrapper-input ul li:first-child input {
  border-radius: var(--border-radius-input) var(--border-radius-input) 0 0;
}

.wrapper-input ul li:last-child input {
  border-radius: 0 0 var(--border-radius-input) var(--border-radius-input);
  border-bottom-color: var(--neutral-200);
}

.wrapper-input ul li input:focus {
  border-color: var(--neutral-500);
}

/**
 * COLORS & SPACING
 */
::selection {
  background: var(--main-400);
  color: white;
}

::-moz-selection {
  background: var(--main-400);
  color: white;
}

body {
  color: #1A202C;
}

body > header {
  /*background: var(--main-400);*/
  padding: 1rem;
  position: relative;
}

body > header::before {
  background: var(--main-400);
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  content: "";
  transform: skewX(-3deg);
  transform-origin: 0 0;
  width: 38.2%;
  bottom: 0;
  outline: 1px solid transparent;
  backface-visibility: hidden;
}

@media (max-width: 600px) {
  body {
    border-bottom: 5px solid var(--main-400);
  }

  body > header {
    /*background: var(--main-400);*/
    margin-bottom: 25px;
  }

  body > header::before {
    /*content: none;*/
    /*display: none;*/
    transform: skewY(-3deg) translateY(25px);
    margin-top: -25px;
    width: 100%;
    position: absolute;
    right: 0;
  }
}

body > header .button, body > header button {
  background-color: var(--main-300);
  transition: background-color 50ms, border 50ms;
}

body > header .button:hover, body > header button:hover {
  background-color: var(--main-200);
}

header h1 {
  color: var(--neutral-100);
}

@media (max-width: 600px) {
  header h1 {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: .5rem;
  }
}

header h1 a, header h1 a:hover, header h1 a:focus {
  text-decoration: none;
  color: inherit;
}

main {
  --padding-main: 1rem;
  padding: var(--padding-main);
}

main > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
}

h2 {
  margin-bottom: 2rem;
  padding: .25rem 0 0;
}

article.entry {
  margin-bottom: 2rem;
}

@media (min-width: 800px) {
  article.entry {
    margin-bottom: 3rem;
  }
}

@media (min-width: 1200px) {
  article.entry {
    margin-bottom: 4rem;
  }
}

article.entry header {
  margin-bottom: .25rem;
}

article.entry header h3 {
  margin-bottom: 0;
  padding: .25rem 0 0;
}

article.entry header a.heading {
  display: block;
  width: 100%;
}

article.entry a {
  color: var(--accentblue-700);
  text-decoration: none;
  transition: color 80ms;
}

article.entry a:hover {
  color: var(--accentblue-500);
}

article.entry header span.meta,
article.entry header span.meta.date a:not(:focus):not(:hover) {
  color: #888888;
  font-size: .875rem;
}

article.entry header span.meta.url {
  word-break: break-all;
}

article.entry > p {
  line-height: 1.25;
  padding-bottom: .25rem;
}

article.entry li {
  padding-left: .5rem;
  margin-left: 1rem;
}
article.entry ul {
  list-style-type: square;
}
article.entry ul li::marker {
  content: "–";
}

article.entry ul.tags {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  line-height: 2rem;
  padding-left: 0;
}

article.entry ul.tags li {
  margin: 0 .5rem 0 0;
  padding: 0;
}
article.entry ul.tags li::marker {
  content: "";
}

article.entry ul.tags li a, article.entry ul.tags li span {
  text-decoration: none;
  color: #4A5568;
  background-color: var(--neutral-300);
  padding: .25rem .5rem;
  border-radius: .25rem;
  font-size: .875rem;
  transition: background-color 50ms;
}

article.entry ul.tags li a:hover, article.entry ul.tags li span:hover {
  color: #5F6D82;
  background-color: var(--neutral-200);
}

article.entry h4 {
  margin-top: .75rem;
  padding-bottom: .25rem;
}

pre {
  background-color: var(--neutral-100);
  border: 1px solid var(--neutral-300);
  overflow: auto;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  hyphens: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  tab-size: 4;
  -moz-tab-size: 4;
  padding: .75rem;
  font-size: .875rem;
  -webkit-overflow-scrolling: touch;
}

pre > code {
  position: relative;
  border: 0;
  padding: 0;
  display: block;
  line-height: 1.4;
}

p > code {
  background-color: var(--neutral-100);
  border: 1px solid var(--neutral-300);
  padding: 0 .35rem;
  font-size: .875rem;
  line-height: 1.7;
}

kbd, pre, samp, code, kbd *, pre *, samp *, code * {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: "Fira Code", "Consolas", Liberation Mono, Menlo, Courier, monospace !important;
  line-height: 19px;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--neutral-200);
    background-color: var(--main-700);
    scrollbar-color: dark;
  }
  article.entry ul.tags li a, article.entry ul.tags li span {
    color: var(--neutral-400);
    background-color: var(--main-500);
  }
  article.entry ul.tags li a:hover, article.entry ul.tags li span:hover {
    color: var(--neutral-400);
    background-color: var(--main-400);
  }
  article.entry header span.meta, article.entry header span.meta.date a:not(:focus):not(:hover) {
    color: var(--neutral-500);
  }
  pre {
    background-color: var(--main-600);
    border-color: var(--main-400);
    scrollbar-color: dark;
  }
  p > code {
    background-color: var(--main-600);
    border-color: var(--main-400);
  }
  article.entry a {
    color: var(--accentblue-400);
  }
  article.entry a:hover {
    color: var(--accentblue-300);
  }
  body > header::before {
    background: var(--main-600);
  }
  input[type=text], input[type=url], input[type=search], input[type=date], input[type=time], textarea {
    border-color: var(--main-400);
    background: var(--main-500);
    color: var(--neutral-300);
  }
  input[type=text]:focus, input[type=url]:focus, input[type=search]:focus, input[type=date]:focus, input[type=time]:focus, textarea:focus {
    border-color: var(--main-300);
    background-color: var(--main-400);
    color: var(--neutral-100);
  }
  .wrapper-input ul input {
    border-bottom-color: var(--main-400);
    border-top-color: var(--main-400);
  }
  .wrapper-input ul li:last-child input {
    border-bottom-color: var(--main-400);
  }
  .wrapper-input ul li input:focus {
    border-color: var(--main-300);
  }
  input[type=text].autocomplete-open, input[type=text].autocomplete-open:focus {
    border-color: var(--main-300);
    background-color: var(--main-400);
  }
  ul.autocomplete {
    background-color: var(--main-400);
  }
  ul.autocomplete li {
    border-left-color: var(--main-300);
    border-right-color: var(--main-300);
  }
  ul.autocomplete li:hover {
    background-color: var(--main-300);
  }
  ul.autocomplete li:last-child {
    border-bottom-color: var(--main-300);
  }
  .wrapper-collapsible {
    background-color: var(--main-600);
    border-bottom-color: var(--main-400);
    border-top-color: var(--main-400);
  }

  .error label, .error-message {
    color: var(--accentred-400);
  }
  .error input[type=text], .error input[type=url], .error input[type=search], .error input[type=date], .error input[type=time], .error textarea, .error input[type=text]:focus, .error input[type=url]:focus, .error input[type=search]:focus, .error input[type=date]:focus, .error input[type=time]:focus, .error textarea:focus {
    border-color: var(--accentred-400);
    box-shadow: 0 0 0 1px var(--accentred-400);
  }
}