<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1><a href="/">Bits’n’Bytes</a></h1>
    <form>
        <div class="wrapper-input">
            <input type="search" name="search">
        </div>
    </form>
    {{# url-newentry }}<a href="{{ url-newentry }}" class="button">New Entry</a>{{/ url-newentry }}
</header>
<main>

